body {
  background-image: url("http://1.bp.blogspot.com/-WE9Uj9fj_C8/TtxIucsFa8I/AAAAAAAAAns/7yMQdsEn0HY/s1600/skiing-hd-5-785743.jpg");
  background-repeat:no-repeat; 
  background-position:center; 
  background-size:cover;
  background-attachment: fixed;
  color: white;
}
.card {
  color: black;
}
.modal {
  color: black;
}
.container {
  margin-top: 100px;
}
.user-card-holder {
  max-height: 600px;
  overflow-y: scroll;
}