.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.modalContent {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-container {
  width: 80%;
  margin: auto;
}
.btn-container .btn {
  margin: auto;
  width: 48%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}